.select-date {
    width: 600px;
    margin: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }

  .table-container {
    flex-grow: 1; /* Allow the table to grow and fill available space */
  }