.register-card {
    width: auto;
    height: auto;
    background-color: #bebebe;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    margin: 30px 0px 0px 0px;
  }

.top-regis {
    margin: 40px;
    margin-top: 20px;
}

.submit-button {
    color: white;
    background-color: #02bc77;
    /* border-color: #999999; */
}
.delete-button {
    color: #ffffff;
    background-color: #c94040;
}
.button-add {
    color: #000;
    background-color: #bebebe;
    border-radius: 70px;
}