.clock {
    text-align: center;
    margin-top: 10px;
  }
  .clock-heading {
    font-size: 24px;
    color: #333;
  }
  .clock-time {
    font-size: 36px;
    color: #009688;
    font-weight: bold;
  }
.welcome {
    font-size: 36px;
    color: #333;
}