.clock {
    text-align: center;
    margin-top: 10px;
  }
  .clock-heading {
    font-size: 24px;
    color: #333;
  }
  .clock-time {
    font-size: 36px;
    color: #009688;
    font-weight: bold;
  }
.welcome {
    font-size: 36px;
    color: #333;
    margin-bottom: 50px;
}

.background{
  background-image: url(https://www.src.ku.ac.th/th/tp/img/kusrc.jpg);
  background-size:cover;
}

.rounded-rectangle{
  padding: 100px;
  margin-top: 200px;
}