    .bg {
    background-image: url(../../assets/login-bg.png);
    background-size: contain;
    width: 100%;
    }

    .login-container {
        width: 550px;
        height: 350px;
        background-color:white;
        border-radius: 30px;
        border-style: solid;
        display: flexbox;
        justify-content: center;
        margin: auto;
        margin-top: 15%;
    }

    .incontainer {
        text-align: center;
        position: relative;
    }