#main-layout 

  .rounded-rectangle {
    width: 1470px;
    height: 700px;
    background-color: #D9D9D9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    margin: 30px 30px 30px 30px;
  }

  .faculty-text {
    text-align: center;
    font-size: 40px;
    position: absolute; 
    top: 100px;
  }

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; 
    top: 250px;
  }

  .file-upload label {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px 25px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  