.bg {
  background-image: url(../../assets/login-bg.png);
  background-size: contain;
  width: 100%;
}

.welcome-message {
  position: absolute;
  top: 50px; /* ปรับตำแหน่งตามที่ต้องการ */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #000000; /* สีตัวอักษร */
  font-size: 24px; /* ขนาดตัวอักษร */
}

.login-container {
    width: 550px;
    height: 350px;
    background-color:white;
    border-radius: 30px;
    border-style: solid;
    display: flexbox;
    justify-content: center;
    margin: auto;
    margin-top: 15%;
}

.incontainer {
    text-align: center;
    position: relative;
}
.faculty-text {
    text-align: center;
    font-size: 40px;
    position: absolute; 
    top: 100px;
  }

  .create-news-button {
    background-color: #e2e2e2;
    color: rgb(50, 50, 50);
    padding: 20px 25px; /* ปรับขนาดของปุ่ม */
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px; /* ปรับขนาด font size */
    margin-top: -350px;
  }

  .create-news-button:hover {
    background-color: #02bc77;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
  }

  .modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .modal-actions button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .modal-actions button:hover {
    background-color: #ccc;
  }


  .modal-content h2 {
    margin-bottom: 10px;
  }

  .modal-content input,
  .modal-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .modal-content textarea {
    height: 100px;
  }

  .modal-actions button:first-child {
    background-color: #ccc;
  }

  .welcome-button {
    background-color: #02bc77;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px; 
  }
  
  .logout-button {
    margin-left: 10px; 
  }
  
  .welcome-button:hover {
    background-color: #02bc77;
  }

  .user-details {
    text-align: center;
    margin-top: 40px;
    font-size: 20px; 
  }
  
  .user-details h3 {
    color: #000000; 
  }
  
  .user-details p {
    margin: 8px 0; 
    color: #333; 
  }
  
  .user-details p:last-child {
    margin-bottom: 20px;
  }
  
  
  .user-image {
    border-radius: 50%; 
    border: 2px solid #000000; 
    width: 120px; 
    height: 120px;
    margin-bottom: 10px;
  }
  .admin-details {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
  }
  
  .admin-details h3 {
    color: #000000; /* Set the color as needed */
    font-size: 24px; /* Set the font size as needed */
  }
  
  .admin-details p {
    margin: 8px 0;
    color: #333; /* Set the color as needed */
  }
  
  .admin-details p:last-child {
    margin-bottom: 20px;
  }
  
  .admin-image {
    border-radius: 50%;
    border: 2px solid #000000;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
  }

  .date-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .datepicker-container {
    display: flex;
    align-items: center;
  }
  
  .custom-datepicker-text {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .to {
    margin: 0 10px;
    font-weight: bold;
  }